@mixin h1 {
	font-size: rem(40);
	line-height: 1.2;
	font-family: $ff-title;
	font-weight: 700;

	@include media-breakpoint-up(md) {
		font-size: rem(72);
	}
}

@mixin h2 {
	font-size: rem(24);
	line-height: 1.4;
	font-family: $ff-title;
	font-weight: 500;

	@include media-breakpoint-up(md) {
		font-size: rem(48);
		line-height: 1.2;
	}
}

@mixin h3 {
	font-size: rem(20);
	line-height: 1.4;
	font-family: $ff-base;

	@include media-breakpoint-up(md) {
		font-size: rem(32);
	}
}

@mixin h3-quote {
	font-size: rem(20);
	line-height: 1.2;
	font-family: $ff-base;

	@include media-breakpoint-up(md) {
		font-size: rem(32);
	}
}

@mixin h4 {
	font-size: rem(17);
	line-height: 1.4;
	font-family: $ff-base;
	font-weight: 500;

	@include media-breakpoint-up(md) {
		font-size: rem(24);
	}
}

@mixin text-lead {
	font-size: rem(15);
	line-height: 1.6;
	font-family: $ff-base;

	@include media-breakpoint-up(md) {
		font-size: rem(18);
		line-height: 1.4;
	}
}

@mixin text-large {
	font-size: rem(13);
	line-height: 1.4;
	font-family: $ff-base;

	@include media-breakpoint-up(md) {
		font-size: rem(17);
	}
}

@mixin text-body {
	font-size: rem(13);
	line-height: 1.6;
	font-weight: 500;
	font-family: $ff-base;

	@include media-breakpoint-up(md) {
		font-size: rem(15);
		line-height: 1.4;
	}
}

@mixin text-small {
	font-size: rem(13);
	line-height: 1.4;
	font-family: $ff-base;

	@include media-breakpoint-down(sm) {
		font-size: rem(11);
		line-height: 1.4;
	}
}

@mixin text-label {
	font-size: rem(10);
	line-height: 1.4;
	font-weight: 500;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	font-family: $ff-base;

	@include media-breakpoint-up(md) {
		font-size: rem(12);
	}
}
