.side-bar {
    $root: &;
    
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index:3;

    @include media-breakpoint-up(md){
        width: auto;
        padding-right: 0;
        padding-left: 0;
    }

    &__content{
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        width: 100%;
        padding: rem(21) rem(45);
        z-index: 9;
        color: $color-white;
        transition: none;
    
        @include media-breakpoint-up(md){
            position: relative;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: rem(60);
            height: 100vh;
            padding: rem(24) 0;
            background-color: $color-black;
        }
    }
    
    &__burger{
        margin-left: 0;
    }
    
    @include media-breakpoint-up(md){
        margin-left: 0;
    }
    
    &__sections{
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        flex-grow: 1;
        flex-basis: auto;

    }

    &__user-section{
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        flex-grow: 1;
        flex-basis: auto;
        justify-content: center;
    }

    &__nav-list{
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__nav-item{
        margin-bottom: rem(56);
        transition: opacity .3s ease;

        @include media-breakpoint-down(sm){
            margin-bottom: 0;
        }

        @include hover{
            opacity: 0.5;
        }
    }

    &__nav-item:last-child{
        margin-bottom: 0;
    }

    &__nav-item:nth-child(n+2){
        @include media-breakpoint-down(sm){
            display: none;
        }
    }

    &__service-section{
        display: flex;
        justify-content: center;
        margin-bottom: rem(64);

        @include media-breakpoint-down(md){
            display: none;
        }

    }

    &__service-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0; 
    }

    &__service-item{
        @include text-small;
        transition: opacity .3s ease;

        @include hover{
            opacity: 0.5;
        }
    }

    &__service-item:not(:last-child){
        margin-bottom: rem(16);

        @include media-breakpoint-down(sm){
            display: none;
        }
        
    }

    &__logo{
        img{
            width: rem(24);
            height: rem(24);
        }

        @include media-breakpoint-down(sm){
            display: none;
        }
    }


}