{# т.к. пока меню нет, все больше декоративно. для меню нужно будет немножко переделать #}
<div class="side-bar">
        <div class="side-bar__content">
            <div class="side-bar__burger">
                {% view '@burger' %}
            </div>
            <div class="side-bar__sections">
                <div class="side-bar__user-section">
                    <ul class="nav-list">
                        {% for item in header.sideBar.userSection %}
                            <li class="nav-list__item">
                                {% if item.icon %}
                                    <a href="#" class="nav-list__item-link">
                                        {% view '@icon' with {
                                            icon: item.icon
                                        } %}
                                    </a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="side-bar__service-section">
                    <ul class="service-list">
                        {% for item in header.sideBar.serviceSection %}
                            <li class="service-list__item">
                                {% if item.icon %}
                                    <a href="#" class="service-list__item-link">
                                        {% view '@icon' with {
                                            icon: item.icon
                                        } %}
                                    </a>
                                {% else %}
                                    <a href="#" class="service-list__item-link">{{item.text}}</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="side-bar__logo">
                <img src="./././img/logo-circle.png" alt="logo">
            </div>
        </div>
    </div>