{# т.к. пока меню нет, все больше декоративно. для меню нужно будет немножко переделать #}
<div class="side-bar">
        <div class="side-bar__content">
            <div class="side-bar__burger">
                {% view '@burger' %}
            </div>
            <div class="side-bar__sections">
                <div class="side-bar__user-section">
                    <ul class="side-bar__nav-list">
                        {% for item in header.sideBar.userSection %}
                            <li class="side-bar__nav-item">
                                {% if item.icon %}
                                    <a href="#" class="side-bar__nav-link">
                                        {% view '@icon' with {
                                            icon: item.icon
                                        } %}
                                    </a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="side-bar__service-section">
                    <ul class="side-bar__service-list">
                        {% for item in block.serviceSection %}
                            <li class="side-bar__service-item">
                                {% if item.href %}
                                    <a href="{{ item.href }}" class="side-bar__service-link">
                                        {% if item.icon %}
                                            {% view '@icon' with {
                                                icon: item.icon
                                            } %}
                                        {% else %}
                                            {{item.text}}
                                        {% endif %}
                                    </a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="side-bar__logo">
                {% if block.logo %}
                    {% view '@icon' with {
                        icon: {
                            name: 'logoCircle'
                        }
                    } %}
                {% endif %}
            </div>
        </div>
    </div>