.side-bar {
    $root: &;
    
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index:3;

    @include media-breakpoint-up(md){
        width: auto;
        padding-right: 0;
        padding-left: 0;
    }

    &__content{
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        width: 100%;
        padding: 1.3125rem 2.8125rem;
        z-index: 9;
        color: $color-white;
        transition: none;
    
        @include media-breakpoint-up(md){
            position: relative;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 3.75rem;
            height: 100vh;
            padding: 1.5rem 0;
            background-color: $color-black;
        }
    }
    
    &__burger{
        margin-left: 0;
    }
    
    @include media-breakpoint-up(md){
        margin-left: 0;
    }
    
    &__sections{
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        flex-grow: 1;
        flex-basis: auto;

    }

    &__user-section{
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        flex-grow: 1;
        flex-basis: auto;
        justify-content: center;

        .nav-list{
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .nav-list__item{
            margin-bottom: 3.5rem;
            transition: opacity .3s ease;

            @include media-breakpoint-down(sm){
                margin-bottom: 0;
            }

            @include hover{
                opacity: 0.5;
            }
        }

        .nav-list__item:last-child{
            margin-bottom: 0;
        }

        .nav-list__item:nth-child(n+2){
            @include media-breakpoint-down(sm){
                display: none;
            }
        }
    }

    &__service-section{
        display: flex;
        justify-content: center;
        margin-bottom: 4rem;

        .service-list{
            display: flex;
            flex-direction: column;
            align-items: center;
            list-style: none;
            margin: 0;
            padding: 0;
            
        }

        .service-list__item{
            font-size: .75rem;
            letter-spacing: 0.0625rem;
            transition: opacity .3s ease;

            @include hover{
                opacity: 0.5;
            }
        }

        .service-list__item:not(:last-child){
            margin-bottom: 1rem;
        }

        @include media-breakpoint-down(sm){
            display: none;
        }
        
    }

    &__logo{
        img{
            width: 1.5rem;
            height: 1.5rem;
        }

        @include media-breakpoint-down(sm){
            display: none;
        }
    }
}

