<div class="head">
        {% if block.logo %}
            <div class"head__logo"> 
                {% if block.logo.href %}
                    <a class="head__logo-link">
                        {% view '@icon' with {
                            icon: {
                                "name": 'logo'
                            }
                        } %}
                    </a>
                {% else %}
                    <div class="head__logo head__logo--active">
                        {% view '@icon' with {
                            icon: {
                                name: 'logo'
                            }
                        } %}
                    </div>
                 {% endif %}
            </div>     
        {% endif %}
        <ul class="head__items">
            {% for item in block.items %}
                <li class="head__item">
                    {% if item.href %}
                        <a href="{{ item.href }}" class="head__link">{{ item.text }}</a>
                    {% else %}
                        <span class="head__link head__link--active">
                            {{ item.text }}
                        </span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>