.head {
    display: block;
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;

    @include media-breakpoint-up(md){
        display: flex;
        position: static;
        left: 0;
        -webkit-transform: translateX(0);
        padding-top: rem(36);
        padding-right: rem(64);
        padding-left: rem(96);
    }

    @include media-breakpoint-up(lg){
        padding-right: rem(120);
        padding-left: rem(120);
    }

    &__logo{
        position: relative;
        width: rem(96);
        
    
        @include media-breakpoint-up(md){
            width: rem(140);
            height: rem(40);
        }
    
        @include media-breakpoint-only(lg){
            max-width: rem(140);
            max-height: rem(40);
        }
    }
    
    &__logo-link{
        z-index: 1;
        height: rem(48);
        transition: opacity .3s ease;

        @include hover{
            opacity: 0.5;
        }

        @include media-breakpoint-up(md){
            display: inline-block;
        }

        @include media-breakpoint-up(sm){
            display: none;
        }
    }
    
    &__items{
        display: none;
        list-style: none;
        padding: 0;
        margin: 0 0 0 auto;
    
        @include media-breakpoint-up(md){
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
        }
    }
    
    &__item{
    
        @include hover{
            opacity: 0.5;
        }

        transition: opacity .3s ease;
        
        &:not(:last-child){
            margin-right: rem(40);
        }
    }
    
    &__link{
        display: inline-block;
        width: 100%;
        height: 100%;
        color: $color-white;

        @include text-label;
    }
}

