.burger{
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    width: 2rem;
    height: 2rem;
    color: currentColor;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;

    transition: opacity .3s ease;

        @include hover{
            opacity: 0.5;
        }
}

.burger span{
    width: 1.5rem;
    height: 1px;
    background-color: currentColor;
}

.burger span:not(:last-child){
    margin-bottom: 6px;
}