.burger{
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    width: rem(32);
    height: rem(32);
    color: currentColor;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;

    transition: opacity .3s ease;

        @include hover{
            opacity: 0.5;
        }
}

.burger span{
    width: rem(24);
    height: rem(0.0625);
    background-color: currentColor;
}

.burger span:not(:last-child){
    margin-bottom: rem(7);
}